/* Contenido noticias*/

#contentGlobal{
    background-color: var(--morado-color);
}

#contenidoNoticias{
    padding: 25px 50px;
    color: #000000; 
    font-size: 18px; 
    font-weight: 400; 
    background-color: transparent;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.noticia-container{
    background-color: var(--yellow-color);
    border-radius: 10px;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 30px;
}

.noticias-head{
    display: flex;
    margin-bottom: 30px;
}

.noticias-date{
    display: grid;
    grid-template-columns: 80px 200px;
    grid-template-rows: 20px 20px 20px;
    grid-template-areas: "badge data"
                         "badge ."
                         "badge .";
    text-align: center;
}

.noticias-title{
    text-align: center;
    width: 100%;
    padding-right: 200px;
    font-size: 30px;
}

.noticias-date img {
    width: 70px;
}

.data {
    margin: 0;
}
.data-2{
    display: none;
}

.noticias-contenido{
    display: flex;
    padding: 10px;
}

.principal-img {
    width: 500px;
    font-size: 10px;
    color: gray;
}

.principal-img img {
    width: 100%;
}


.noticias-texto{
    padding: 0 20px;
    line-height: 30px;
}

.noticias-adicional{
    display: flex;
    visibility: hidden;
    height: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.addition-img{
    margin: 100px;
}

.addition-img img{
    width: 100%;
}

.text-more{
    color: blue;
    cursor: pointer;
}
.text-less{
    color: blue;
    cursor: pointer;
}

/*Footer*/
footer{
    height: 190px;
    background-color: #412D1D;
    color: white;
}

canvas{
    background-color: #412D1D;
    width: 100%;
}

@media (max-width: 425px){
    #contenidoNoticias{
        padding: 25px 14px;
    }
    .noticia-container{
        padding: 20px 20px 0;
    }
    .noticias-head{
        display: block;
        margin-bottom: 0;
    }
    .noticias-date{
        display: none;
    }
    .noticias-title{
        font-size: initial;
    }
    .noticias-contenido{
        display: block;
        padding: 10px 10px 0;
    }
    .noticias-texto{
        padding: 0;
        font-size: 11px;
    }
    .noticias-texto-position{
        display: flex;
        justify-content: flex-end;
    }
    .principal-img{
        width: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .principal-img p{
        display: none;
    }
    .data-2{
        display: block;
    }
}