/* Contenido noticias*/

#contenidoNoticias{
    padding: 25px 50px;
    color: #000000; 
    font-size: 18px; 
    font-weight: 400; 
    background-color: transparent;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.noticias-background {
    background-image: url(../image/bg.png);
    background-size: 100% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.noticia-container{
    background: url(../image/post-top-bg.png) top no-repeat,
    url(../image/post-bottom-bg.png) bottom no-repeat;
    padding: 20px;
    margin-bottom: 30px;
}

.border-noticias{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.noticias-left{
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
}

.noticias-right{
    padding: 3% 0;
    grid-column-start: 2;
    grid-column-end: 4;
}

.noticias-head{
    margin-bottom: 30px;
}

.noticias-date{
    display: flex;
}

.noticias-title{
    width: 100%;
    font-family: Avara;
    font-size: 30px;
    margin-top: 10px;
}

.noticias-date img, .noticias-date p{
    margin-right: 10px;
    font-family: Avara;
}

.data {
    margin: 0;
    position: relative;
    bottom: -4px;
    color: gray;
}
.data-2{
    display: none;
}

.principal-img {
    width: 90%;
    font-size: 10px;
    color: gray;
}

.principal-img img {
    width: 100%;
    border: 5px solid var(--color-primary);
    border-radius: 10px;
}

.second-img {
    display: none;
    width: 90%;
    font-size: 10px;
    color: gray;
}

.second-img img {
    width: 100%;
    border: 5px solid var(--color-primary);
    border-radius: 10px;
}


.noticias-texto{
    padding: 0 20px 0 0;
    font-weight: 600;
    line-height: 30px;
}

.noticias-adicional{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    visibility: hidden;
    height: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.addition-img{
    margin: 2px;
}

.addition-img img{
    width: 20vw;
    height: 20vh;
}

.noticias-texto-position {
    display: flex;
    margin-bottom: -20px;
    justify-content: flex-end;
}

.text-container {
    padding: 5px 15px;
    position: relative;
    top: -6px;
    border: 1px solid var(--color-tertiary-variation);
    background-color: var(--color-tertiary);
}

.text-more{
    color: white;
    cursor: pointer;
}
.text-less{
    color: white;
    cursor: pointer;
}

@media (max-width: 1450px){
    .noticias-background{
        background-image: none;
        background-color: var(--color-variation);
    }
    .noticia-container{
        background-image: none;
        border: 5px double var(--color-secundary);

    }
    .noticias-title{
        margin-top: 0;
    }
}

@media (max-width: 1200px){
    .addition-img img{
        width: 18vw;
        height: 16vh;
    }
}

@media (max-width: 1100px){
    .border-noticias{
        display: block;
    }
    .noticias-left{
        display: none;
    }
    .noticias-right{
        padding: 0;
    }
    .second-img{
        display: block;
        margin: 0 0 20px 2em;
    }
    .text-container{
        top: 8px;
    }
}

@media (max-width: 1024px){
    .noticias-head{
        display: block;
    }
    .noticias-contenido {
        display: block;
    }
    .principal-img {
        width: 150px;
        margin: auto;
    }
    .addition-img img{
        width: 17vw;
        height: 17vh;
    }
}



@media (max-width: 840px){
    #contenidoNoticias{
        padding: 25px 14px;
    }
    .noticia-container{
        padding: 0 20px;
    }
    .noticias-head{
        display: block;
        margin-bottom: 0;
    }
    .noticias-date{
        display: none;
    }
    .noticias-title{
        text-align: center;
        padding-right: 0;
        margin-top: 10px;
    }
    .noticias-right{
        display: block;
        padding: 0 10px;
    }
    .second-img {
        margin: 0 0 20px 1em;
    }
    .noticias-texto{
        padding: 0;
        font-size: 15px;
    }
    .noticias-texto-position{
        display: flex;
        justify-content: flex-end;
    }
    .principal-img{
        width: 100px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .principal-img p{
        display: none;
    }
    .data-2{
        display: flex;
    }
    .data-2 p {
        display: flex;
        height: 22px;
        align-items: center;
    }
    .noticias-adicional{
        display: block;
    }
    .addition-img{
        text-align: center;
    }
    .addition-img img{
        width: 18em;
        height: 15vh;
    }
}

@media (max-width: 600px){
    .addition-img img{
        width: 100%;
        height: 15vh;
    }
    .data-2 {
        font-size: 12px;
    }
    .second-img {
        margin: 0 0 20px 6px;
    }
}

@media (max-width: 540px){
    .data-2 {
        display: flex;
        align-items: center;
        font-size: 7px;
    }
    .data-2 img{
        height: 14px;
    }
    .noticias-date img, .noticias-date p {
        margin-right: 5px;
    }
}
@media (max-width: 470px){
    .noticia-container{
        padding: 0;
    }
    .text-container{
        padding: 5px 10px;
    }
}

@media (max-width: 425px){
    .noticias-title{
        font-size: 15px;
        margin: 10px 0;
    }
    .noticias-texto{
        font-size: 10px;
    }
}
@media (max-width: 350px){
    .second-img{
        margin: 0;
    }
    .noticias-title{
        font-size: 22px;
    }
    .text-container{
        padding: 0 5px;
    }
}