/*Contenido Global*/
#contentGlobal{
    background-color: var(--morado-color);;
}

#contenidoParticipantes{
    padding: 25px 50px;
    background-color: transparent;
    font-size: Arial, Helvetica, sans-serif;
}

.participantes{
    padding: 20px;
    background-color: var(--yellow-color);;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.participantes img{
    margin-top: 20px;
    margin-bottom: 20px;
}

.participantes h2{
    border-radius: 3px;
    color: white;
    background-color: #BF4545;
}

.participantes h3{
    margin-bottom: 5px;
}

.participantes p{
    line-height: 22px;
    margin-bottom: 20px;
    text-align: justify;
}

.puntos, .status {
    color: maroon;
    font-size: 17px;
}

.puntos strong, .status strong {
    color: black;
}

.social{
    float: right;
}

.social a{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 48px;
    width: 48px;
    color: white;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 300ms;
}

.social a:hover{
    transform: scale(1.3);
}

.social .facebook{
    background-color: #3C5A99;
}

.social .twitter{
    background-color: #05AFF2;
}

.social .youtube{
    background-color: #A60808;
}

.social .twitch{
    background-color: #6441a5;
}

.nombreImagen{
    max-width: 30%;
    text-align: center;
    margin-right: 40px;
}

.descripcion{
    max-width: 63%;
    display: inline-block;
}

/*Footer*/
footer{
    height: 190px;
    background-color: #412D1D;
    color: white;
}

canvas{
    background-color: #412D1D;
    width: 100%;
}

@media screen and (max-width: 1024px) {
    .nombreImagen {
        margin-right: auto;
    }
}

@media screen and (max-width: 768px) {
    .participantes {
        display: block;
        text-align: center;
    }

    .nombreImagen {
        max-width: 100%;
    }

    .descripcion {
        max-width: 100%;
        float: none;
    }

    .social {
        float: none;
        margin-top: 1em;
    }

    .social a {
        margin-bottom: .5em;
        margin-left: .2em;
        margin-right: .2em;
        width: 2em;
        height: 2em;
    }

    .nombreImagen img {
        width: 30%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .nombreImagen h2 {
        font-size: 1em;
        margin: .3em;
    }

    .descripcion h3 {
        font-size: 1em;
        margin: .3em;
    }

    .descripcion p {
        font-size: .6em;
        margin: .3em;
        line-height: 1.4em;
    }
}

@media screen and (max-width: 480px) {
    #contenidoParticipantes{
        padding: 25px 14px;
    }

    .nombreImagen img {
        width: 50%;
    }

    .social a {
        width: 1.6em;
        height: 1.6em;
    }

    .nombreImagen h2 {
        font-size: .8em;
    }

    .descripcion h3 {
        font-size: .8em;
    }
}

@media screen and (max-width: 320px) {
    .fondo-logo {
        height: 330px;
    }

    nav a {
        font-size: 8px;
    }
}