:root{
    --morado-color: #C8B9F2;
    --yellow-color: #EDDF93;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.clearfix{
    float: none;
    clear: both;
}

body{
    margin: 0px;
    background-image: url(../image/fondo.png);
    background-attachment: fixed;
}

#cajaGlobal{
    width: 71%;
    margin: 0px auto;
    margin-top: 20px;
}

/*Header*/

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#logo img{
    width: 100%;
}

.fondo-logo{
    height: 465px;   /* Cambiando 465 por 1000px*/
    background-color: var(--morado-color);
    border: 1px solid;
    border-radius: 100%;
    margin-bottom: -243px;  /*Cambiando -243 por -770px*/
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width: 17%;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ca2c2c;
    border: 1px solid black;
    text-transform: uppercase;
    width: 100%;
    line-height: 80px;
    margin-top: -6px;
    box-sizing: border-box;
}

nav ul{
    line-height: 46px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    transition: all 300ms;
}

nav ul li:hover{
    background-color: green;
}

nav a{
    display: block;
    color: white;
    padding: 0 60px;
    text-align: center;
    text-decoration: none;
}

#contentGlobal{
    background-color: var(--morado-color);
}

#contenidoGeneral{
    padding: 20px;
    color: #000000; 
    font-size: 18px; 
    font-weight: 400; 
    background-color: transparent;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: flex;
}

.logo-inicio{
    padding: 0 50px 0 25px;
}

.info-inicio{
    padding: 20px;
    background-color: var(--yellow-color);
}

.title-inicio{
    margin-bottom: 10px;
    text-shadow: 0 0 6px purple;
    font-size: 35px;
}

.description-inicio{
    margin-left: 60px;
    margin-right: 74px;
    font-size: 28px;
}




/*Footer*/
footer{
    height: 190px;
    background-color: #412D1D;
    color: white;
}

canvas{
    background-color: #412D1D;
    width: 100%;
}


@media (max-width: 425px){
    .fondo-logo{
        height: 344px;
    }
    .logo img{
        width: 34%;
    }
    nav ul{
        line-height: 22px;
    }
    nav a{
        font-size: 12px;
        padding: 0 4px;
    }
    #contenidoGeneral{
        display: block;
    }
    .logo-inicio{
        height: 130px;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo-inicio img{
        height: 100%;
    }
    .info-inicio{
        text-align: center;
        border-radius: 20px;
    }
    .title-inicio{
        font-size: 15px;
    }
    .description-inicio{
        margin-left: 0;
        margin-right: 0;
        font-size: 14px;
    }
}

@media (max-width: 375px){
    .logo img {
        width: 39%;
    }
    nav a{
        font-size: 10px;
    }
}