:root{
    --morado-color: #C8B9F2;
    --yellow-color: #EDDF93;
}

*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.clearfix{
    float: none;
    clear: both;
}

body, html {
    overflow-x: hidden;
}

body{
    margin: 0px;
    background: url(../image/body-bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

#cajaGlobal{
    width: 71%;
    margin: 0px auto;
    margin-top: 20px;
}

/*Header*/

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#logo img{
    width: 100%;
}

.fondo-logo{
    background-image: url(../image/header-deco.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
}

.logo{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.logo img{
    width: 12em;
    height: 13em;
    padding-bottom: 4em;
}

nav{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 0;
    line-height: 80px;
    box-sizing: border-box;
}

nav ul{
    line-height: 46px;
    text-align: center;
}

nav ul li{
    display: inline-block;
    padding: 0 4em;
    background-image: url(../image/menu-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    top: -25px;
    transition: all 300ms;
}

nav ul li a:hover{
    font-weight: bold;
}

nav a{
    display: block;
    color: gray;
    text-align: center;
    text-decoration: none;
}

#contentGlobal{
    background-image: url(../image/blue-cubes.png);
    background-repeat: no-repeat;
    background-color: #003366;
    border: 1px solid #336699;
}

#contenidoGeneral{
    padding: 8px 40px 0;
    color: #000000; 
    font-size: 18px; 
    font-weight: 400; 
    background-color: transparent;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    display: flex;
}

.general-container{
    display: flex;
}

.logo-inicio{
    padding: 0 50px 0 25px;
    text-align: center;
    margin-bottom: 10px;
}

.logo-inicio img{
    width: 10em;
    margin-top: 32px;
}

.info-inicio{
    padding: 20px;
    /* background-color: var(--yellow-color); */
    /* background: url(../image/home-post-top.png) top no-repeat, 
    url(../image/home-post-bottom.png) bottom no-repeat; */
    /* background-color: #D9D6E0; */
    background-size: contain;
    /* width: 300px; */
}

.title-inicio{
    display: flex;
    align-items: center;
    background-image: url(../image/home-post-top.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    height: 10em;
}

.inicio-image-container{
    border-bottom: 1px solid black;
    margin-left: 60px;
    padding-bottom: 8px;
    margin-top: 14px;
}

#espacio-inicio{
    position: relative;
    top: -30px;
    background-image: url(../image/home-post-bottom.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 28px;
    margin-right: -1px;
    height: 10em;
}

.description-inicio{
    background-color: #D9D6E0;
    margin-left: 29px;
    margin-right: 0.4vw;
    padding-left: 50px;
    padding-right: 74px;
    font-size: 22px;
}

.description-inicio p {
    position: relative;
    top: -30px;
}




/*Footer*/
footer{
    height: 190px;
    color: white;
}

canvas{
    background-color: #412D1D;
    width: 100%;
}
@media (max-width: 1404px) {
    nav a {
        padding: 0 2em;
    }
}

@media (max-width: 1360px) {
    .description-inicio {
        font-size: 23px;
        margin-right: 0;
    }
}

@media (max-width: 1024px){
    .general-container{
        display: block;
    }
    .logo-inicio{
        text-align: center;
    }
    .description-inicio {
        font-size: 20px;
    }
}

@media (max-width: 863px){
    nav a {
        padding: 0 1em;
    }
}

@media (max-width: 768px){
    .general-container{
        display: block;
    }
    .logo-inicio{
        text-align: center;
    }
    .description-inicio{
        margin-right: 40px;
        margin-right: 0;
        font-size: 25px;
    }
}

@media (max-width: 682px){
    nav a{
        padding: 0 8px;
        font-size: 15px;
    }
}

@media (max-width: 592px){
    nav a{
        padding: 0 2px;
    }
}

@media (max-width: 500px){
    #contenidoGeneral{
        display: block;
    }
    .logo-inicio{
        height: 130px;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo-inicio img{
        height: 7em;
        width: 7em;
    }
    .info-inicio{
        text-align: center;
        border-radius: 20px;
    }
    .title-inicio{
        font-size: 15px;
    }
    .description-inicio{
        margin-left: 0;
        margin-right: 0;
        font-size: 15px;
    }
}


@media (max-width: 480px){
    .fondo-logo{
        height: 344px;
    }
    .logo img{
        width: 100px;
        height: 100px;
    }
    nav ul{
        line-height: 22px;
    }
    nav a{
        font-size: 12px;
        padding: 0 4px;
    }
    #contenidoGeneral{
        display: block;
    }
    .logo-inicio{
        height: 130px;
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo-inicio img{
        height: 100%;
    }
    .info-inicio{
        text-align: center;
        border-radius: 20px;
    }
    .title-inicio{
        font-size: 15px;
    }
    .description-inicio{
        margin-left: 0;
        margin-right: 0;
        font-size: 11px;
    }
}

@media (max-width: 413px){
    .logo img{
        width: 100px;
        height: 100px;
    }
    nav a{
        font-size: 10px;
    }
}

@media (max-width: 356px){
    .fondo-logo{
        height: 330px;
    }
    .logo img{
        width: 86px;
        height: 86px;
    }
    nav a{
        font-size: 8px;
    }
    .description-inicio{
        font-size: 10px;
    }
}
