#contentGlobal{
    padding: 20px;
}

.gridFoto{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    padding: 1em;
    text-align: center;
}

.gridFoto a{
    padding: 5px;
}

.gridFoto > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.gridFoto img{
    width: 100%;
    height: 100px;
    transition: all 300ms;
}

.gridFoto a:hover img{
    transform: rotate(10deg) scale(1.3);
}

#contentGlobal h2{
    margin-left: 1em;
}

